# Properties docs: https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/lynx --config /etc/lynx.toml
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
User=root
StandardError=syslog
SyslogIdentifier=lynx

[Install]
WantedBy=multi-user.target
